#underrubrik{
    font-size: 20px;   
    font-weight: 200; 
    color: darkorange; 
} 

body{
    background-image: url(../bilder/sk%C3%A4rbild.jpg);
     background-size: 1220px 630px;

}


.bokhearhstone{
     
    position:relative;
    margin-left: 301px;
    height:350px;
    width:600px;
   top: 40px;
     
   
    border-radius: 10px; 
    
}

h1{
   text-align: center;
    top: 10px; 
    position: relative; 
    color: yellow;
    font-size: 50px; 
}

h2{
    color: orange; 
    text-align: center; 
     top: 5px; 
    position: relative; 
    font-size: 30px;
}

h3{
    tab-size: 20px; 
    font-size: 51px; 
    margin-top: 150px;
    color: white; 
    text-align: center; 
    
}


.W-icon{
    height: 140px;
    width: 140px;
    display: block;
    margin-left:200px; 
    margin-top: -40px; 
}

.text-w{
    margin-top: 5px; 
    margin-left: 200px;
    color: skyblue; 
    font-size: 50px;
}

.P-icon{
     height: 140px;
    width: 140px;
    display: block;
    margin-left:500px; 
    margin-top: -247px; 
}

.text-p{
     margin-top: 2px; 
    margin-left: 510px;
    color: skyblue; 
    font-size: 50px;
}

.D-icon{
     height: 140px;
    width: 140px;
    display: block;
    margin-left:790px; 
    margin-top: -247px; 
}

.text-d{
    margin-top: -1px; 
    margin-left: 800px;
    color: skyblue; 
    font-size: 50px;
} 

.NoMore{
    margin: auto; 
     font-size: 40px;
    margin-left: 250px; 
    margin-right: 250px; 
    color: red; 
    
}


a{
  text-decoration: none; 
    
}

a p:hover{
    color: yellow; 
}

