body{
    background-image: url(/bilder/backgrund2w.jpg);
     background-size: 1220px 630px;

}


.img1-w{ 
 height:200px;  
  width:1000px; 
    border-radius: 10px; 
    border: 3px solid red; 
    margin-left: 100px;  
    margin-right: 200px; 
    

}

.instrutionw-box{
    background-color:white; 
    padding: 100px 90px 100px 90px;    
    border: 1px solid black;
    margin-right: 10px; 
    margin-left: 10px; 
    float: right;
    left: 500px; 
    width: 400px; 
    overflow: hidden;
}


.W-h1{
    
    color: black; 
    padding-bottom: 10px;
    border-bottom: 3px solid black; 
    font-family: cursive; 
    font-size: 30px;    
}

p{
    font-size: 20px;    
 }

.patis {
 
    float:left: 200px; 
    width: 150px;
    height: 98px; 
    border-radius: 5px; 
}

pirate-warrior-decklist{
    width: 100px; 
    height: 1px; 
    border-radius: 10px; 
    
}

patis-kort {
    float: right; 
    right: 10px; 
}







